{% load static %}
<html>
  <head>
  <meta name="author" content="Daniel Santos">
  <meta name="repository" content="https://github.com/xdanielsb/">
  <link rel="stylesheet" href="{% static "monitor/css/particles.css" %}">
  <link rel="stylesheet" href="{% static "monitor/css/navbar.css" %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.2/gh-fork-ribbon.min.css" />
  </head>
  <body>
    <a class="github-fork-ribbon" href="https://github.com/xdanielsb/" data-ribbon="Follow me" title="Follow me on GitHub">Follow me on Github</a>
    <div id="particles-js"></div>
      <div class="content">
        <div class="content-center">
          <div class="wrapper" style="font-weight:bold;">
             <h1>Happearth</h1>
            <h3> Time to be Open Source: </h3>
            <p id="countdown"> </p>
            <a href="/monitor/"> See the demo </a> <br>
            <a href="https://play.google.com/store/apps/details?id=me.danieldev.happearth"><img src="https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png" width="150" height="60" alt="Get it on Google Play" border="0"></a> 
          </div>
        </div>
      <script src="{% static "monitor/js/particles.min.js" %}"></script>
      <script src="{% static "monitor/js/particles.conf.js" %}"></script>
      <script src="{% static "monitor/js/countdown.js" %}"></script>
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-97608126-3"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-97608126-3');
      </script>      
  </body>
</html>
