{% load static %}
<link rel="icon" href="{% static "monitor/img/favicon.ico" %}" type="image/x-icon">
<link rel="stylesheet" href="{% static "monitor/css/custom.css" %}"  type="text/css" charset="utf-8">
<link rel="stylesheet" href="{% static "monitor/css/progress.css" %}"  type="text/css" charset="utf-8">
<link rel="stylesheet" href="{% static "monitor/css/menu_two.css" %}"  type="text/css" charset="utf-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="{% static "monitor/css/offline-theme.css" %}"  type="text/css" charset="utf-8"> 
<link rel="stylesheet" href="{% static "monitor/css/offline-english.css" %}" type="text/css" charset="utf-8"> 

